<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="static/css/style.css">
<body>

<h1>London Cycle Hire Dashboard</h1>
<h2>Welcome To London Cycle Hire Dashboard</h2>
<div>
    <table>
        <thead>
          <tr>
            <th> Terminal Name</th>
            <th> Location</th>
            <th>Bikes </th>
            <th>Docks</th>
            <th>Empty Docks</th>
            <th>Standard Bikes</th>
          </tr>
        </thead>
        <tbody>
            {% for station in stations %}
          <tr>
            <td >{{station['terminalName']}}</td>
            <td >{{station['name']}}</td>
            <td >{{station['nbBikes']}}</td>
            <td >{{station['nbDocks']}}</td>
            <td >{{station['nbEmptyDocks']}}</td>
            <td >{{station['nbStandardBikes']}}</td>
           
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
</div>
</body>
</html> 